<div class="profile-dropdown">
  <div class="profile-header">
    <div class="avatar"></div>
    <div class="user-info">
      <div class="username">User</div>
      <div class="email">user.com</div>
      <div class="userid">User ID: 12345678 <span title="Info">ⓘ</span></div>
    </div>
    <button class="signout-btn">Sign Out</button>
  </div>

  <div class="help-docs">
    <h4>HELP DOCUMENTS</h4>
    <ul>
      <li><i class="icon book"></i> User Guide</li>
      <li><i class="icon notebook"></i> Developer Guide</li>
      <li><i class="icon faq"></i> FAQs</li>
      <li><i class="icon shield"></i> Best Practices for Security</li>
      <li><i class="icon contact"></i> Contact Us</li>
    </ul>
  </div>

  <div class="tooltip">Mvsiva Gopi</div>
</div>