<header class="branding-header">
  <div class="branding-left">
    <img src="assets/hylogo.PNG" alt="hy logo" class="logo" />
    
  </div>
</header>

  <div class="top-right-icons">
    <button [routerLink]="'/topbar'">
      <img src="assets/logout.PNG" alt="Notifications" class="icon" />
    </button>
    <button [routerLink]="'/topbar1'">
      <img src="assets/logout1.PNG" alt="Profile" class="icon user-icon" />
    </button>
  </div>


<div class="main-layout">
  <app-sidebar class="sidebar"></app-sidebar>
 
  <div class="overlay">
    <div class="modal">
      <div class="modal-header">
        <h3>Verify mobile number</h3>
        <button class="close-btn" (click)="closeModal()">✖</button>
      </div>

      <div class="modal-body">
        <p class="otp-info">OTP sent </p>

        <form [formGroup]="otpForm" (ngSubmit)="verifyOtp()">
          <label for="otp">Enter OTP</label>
          <input
            type="text"
            id="otp"
            maxlength="6"
            formControlName="otp"
            placeholder="Enter 6-digit OTP"
            [class.invalid]="
              otpForm.controls.otp.invalid && otpForm.controls.otp.touched
            "
          />

          <div
            *ngIf="
              otpForm.controls.otp.invalid && otpForm.controls.otp.touched
            "
            class="error"
          >
            Please enter a valid 6-digit OTP.
          </div>

          <a href="#" class="resend-otp-link" (click)="resendOtp()"
            >Resend OTP</a
          >

          <div class="button-group">
            <button
              type="submit"
              class="verify-btn"
              [disabled]="otpForm.invalid"
            >
              Verify
            </button>
            <button type="button" class="back-btn" (click)="goBack()">
              Back
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>