<header class="branding-header">
  <div class="branding-left">
    <img src="assets/hylogo.PNG" alt="hy logo" class="logo" />
    
  </div>
</header>


  <div class="top-right-icons">
    <button [routerLink]="'/topbar'">
      <img src="assets/logout.PNG" alt="Notifications" class="icon" />
    </button>
    <button [routerLink]="'/topbar1'">
      <img src="assets/logout1.PNG" alt="Profile" class="icon user-icon" />
    </button>
  </div>


<div class="main-layout">
  <app-sidebar class="sidebar"></app-sidebar>

  <div class="email-verification-container">
    <h2>Email Address</h2>

    <div class="modal-box">
      <div class="modal-header">
        <h3>Verify Email Address</h3>
           <button class="close-button">&times;</button>
      </div>

      <div class="modal-content">
        <label for="otp">Enter OTP</label>
        <input
          id="otp"
          type="password"
          maxlength="6"
          class="otp-input"
          [(ngModel)]="otp"
          placeholder="••••••"
        />

        <a class="resend-link" href="#" (click)="resendOtp()">Resend OTP</a>

        <div class="button-group">
          <button class="verify-btn" (click)="verifyOtp()">Verify</button>
          <button class="back-btn" (click)="goBack()">Back</button>
        </div>
      </div>
    </div>
  </div>
</div>