<div class="branding-left">
  <img src="assets\hylogo.PNG" alt="hy logo" class="logo" />
  <span class="brand-name"></span>
</div>

<div class="top-right-icons">
<button [routerLink]="'/topbar'"><img src="assets/logout.PNG" alt="Notifications" class="icon" />
 
</button>
 
<button [routerLink]="'/topbar1'"><img src="assets/logout1.PNG" alt="Profile" class="icon user-icon" />
</button>
</div>

<h2>Verify mobile number</h2>
<p>OTP sent to {{ data.number }}</p>

<form [formGroup]="otpForm">
  <label>Enter OTP</label>
  <input formControlName="otp" type="password" maxlength="6" />
  <a (click)="resendOtp()">Resend OTP</a>
  <div>
    <button type="button" (click)="verify()">Verify</button>
    <button type="button" (click)="dialogRef.close()">Back</button>
  </div>
</form>
