<div class="branding-container">
  <div class="branding-left">
    <img src="assets/logo.PNG" alt="hy logo" class="logo" />
    <span class="brand-name"></span>
  </div>
  <div class="branding-right">
    </div>
</div>

<div class="forgot-password-wrapper">
  <div class="forgot-password-container">
    <div class="forgot-password-box">
      <h2>Forgot Password?</h2>
      <p>
        Enter your email address, click <strong>“Reset password”</strong>, and
        we’ll send you a link to reset your password.
      </p>

      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
          <span class="icon">👤</span>
          <input
            type="email"
            formControlName="email"
            placeholder="Email/Id"
            required
          />
        </div>
        <button type="submit" [disabled]="forgotPasswordForm.invalid">
          Reset password
        </button>
      </form>
    </div>

    <div class="illustration">
      <img src="assets/forgotpassword.PNG" alt="Forgotpassword illustration" />
    </div>
  </div>
</div>