<header class="branding-header">
  <div class="branding-left">
    <img src="assets/hylogo.PNG" alt="hy logo" class="logo" />
    
  </div>
</header>
  <div class="top-right-icons">
    <button [routerLink]="'/topbar'">
      <img src="assets/logout.PNG" alt="Notifications" class="icon" />
    </button>
    <button [routerLink]="'/topbar1'">
      <img src="assets/logout1.PNG" alt="Profile" class="icon user-icon" />
    </button>
  </div>


<div class="main-layout">
  <app-sidebar class="sidebar"></app-sidebar>

  <div class="main-content">
    <div class="close-account-container">
      <h2>Settings</h2>

      <div class="close-account-card">
        <div class="close-account-header">
          <h3>Close Account</h3>
        </div>

        <p>
          We will take you through the following stages one by one to close your account. Read the following overview,
          then click Proceed.
        </p>
        <p class="instruction-note">For detailed instructions, refer help article.</p>

        <div class="steps">
          <div class="step">
            <strong>1</strong>
            <div>
              <h4>Used apps</h4>
              <p>Go through the list of apps you use. The data in these apps will be deleted while closing your account.</p>
            </div>
          </div>

          <div class="step">
            <strong>2</strong>
            <div>
              <h4>Paid subscriptions</h4>
              <p>The apps in which you have a paid subscription will be listed. Unsubscribe from them in Slate Store.</p>
            </div>
          </div>

          <div class="step">
            <strong>3</strong>
            <div>
              <h4>App-specific organizations</h4>
              <p>
                App-specific organizations means the different organizations, portals, and departments you have created
                within the apps. Some of them require your action to proceed with closing your account while others will
                be deleted automatically.
              </p>
            </div>
          </div>

          <div class="step">
            <strong>4</strong>
            <div>
              <h4>Close Account</h4>
              <p>Give your consent to close the account and continue.</p>
            </div>
          </div>
        </div>

        <div class="buttons">
          <button class="proceed-btn">Proceed</button>
          <button class="cancel-btn">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>