<div class="branding-left">
  <img src="assets\hylogo.PNG" alt="hy logo" class="logo" />
  <span class="brand-name"></span>
</div>

<div class="top-right-icons">
<button [routerLink]="'/topbar'"><img src="assets/logout.PNG" alt="Notifications" class="icon" />
 
</button>
 
<button [routerLink]="'/topbar1'"><img src="assets/logout1.PNG" alt="Profile" class="icon user-icon" />
</button>
</div>

<div class="app-container">
  <app-sidebar class="sidebar"></app-sidebar>
   <div class="profile-content">
    <h2>Security</h2>

<div class="container">
  

    <div class="password-box">
      <div class="header">
        <h3>Password</h3>
        <button class="close-btn" (click)="onClose()">✕</button>
      </div>

      <p>Set a strong password to prevent unauthorized access to your account.</p>

      <form (ngSubmit)="onSubmit()" #passwordForm="ngForm">
        <div class="form-group">
          <label>Current Password</label>
          <div class="password-input">
            <input
              type="{{ showCurrent ? 'text' : 'password' }}"
              [(ngModel)]="currentPassword"
              name="currentPassword"
              required
            />
            <button type="button" class="eye-btn" (click)="showCurrent = !showCurrent">
              {{ showCurrent ? '🙈' : '👁️' }}
            </button>
          </div>
          <a class="forgot-link" routerLink="/forgotpassword">Forgot Password?</a>
        </div>

        <div class="form-group">
          <label>New Password</label>
          <div class="password-input">
            <input
              type="{{ showNew ? 'text' : 'password' }}"
              [(ngModel)]="newPassword"
              name="newPassword"
              required
            />
            <button type="button" class="eye-btn" (click)="showNew = !showNew">
              {{ showNew ? '🙈' : '👁️' }}
            </button>
          </div>
        </div>

        <div class="form-group">
          <label>Confirm New Password</label>
          <div class="password-input">
            <input
              type="{{ showConfirm ? 'text' : 'password' }}"
              [(ngModel)]="confirmPassword"
              name="confirmPassword"
              required
            />
            <button type="button" class="eye-btn" (click)="showConfirm = !showConfirm">
              {{ showConfirm ? '🙈' : '👁️' }}
            </button>
          </div>
        </div>

        <button type="submit" class="change-btn" [disabled]="!passwordForm.form.valid">
          Change Password
        </button>
      </form>
    </div>
  </div>
</div>
